<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/output.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/styleMobile.css" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
  </head>
  <body>
    <div class="nav2">
      <a href="/"><div class="famTitle2">FAM</div></a>
      <div class="logout">
        <i class="fa-solid fa-right-from-bracket"></i> Logout
      </div>
    </div>
    <div class="mainContainer">
      <div class="memLeft">
        <div class="memLeftTop">
          <a href="/member/add"
            ><div class="addMem">
              <i class="fa-solid fa-user-plus"></i> &nbsp; Add Members
            </div></a
          >
          <a href="/member/all"
            ><div class="allMem activeMemOption">
              <i class="fa-solid fa-user"></i> &nbsp; All Members
            </div></a
          >
        </div>
        <div class="memLeftDown">
          <div class="memSettings">
            <i class="fa-solid fa-gear"></i> &nbsp; Settings
          </div>
        </div>
      </div>
      <div class="allMemRight">
        <% i=0;
          data.forEach(member=>{%>
        <div class="memberInfo relative">
          <a href="/member/delete/<%=member.id%>"><i class="fa-solid fa-trash text-2xl absolute text-red-700 right-8 top-7"></i></a>
            <div><b>Full Name:</b> <%=member.name%></div>
            <div><b>Email ID:</b> <%=member.email%></div>
            <div><b>Phone no.:</b> <%=member.phone%></div>
            <div><b>Member ID:</b> <%=member.memberId%></div>
            <div class="memInfoOptions">
              <div><a href="/card/<%=member._id%>">Membership Card</a></div>
              <div><a href="/edit/<%=member._id%>">Edit</a></div>
            </div>
          </div>
          <%})%>
        <!-- <table>
          <tr class="tableHead">
            <th>no.</th>
            <th>MEMBER ID</th>
            <th>NAME</th>
            <th>SINCE</th>
          </tr>

          <% i=0;
          data.forEach(member=>{%>

          <tr onclick="window.location.href='/card/<%=member._id%>'" class="memberTable">
            
              <td><%=++i%></td>
              <td><%=member.memberId%></td>
              <td><%=member.name%></td>
              <td>2024</td>
          </tr>
          <%})%>
        </table> -->
      </div>
    </div>
  </body>
</html>
